*.pycD

# JetBrains Python IDE (PyCharm) stuff
**/.idea/
dataProcessing/Python/postProcessing/.idea/misc.xml
dataProcessing/Python/postProcessing/.idea/postProcessing.iml
dataProcessing/Python/postProcessing/.idea/workspace.xml

# Misc
dataProcessing/Python/postProcessing/join_all_n_plot.py
dataProcessing/Python/postProcessing/plot_fields.py


